body{
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
}
hr{
    border: none;
    height: 4px;
    background-color: #000;
    margin-top: 0px;
}
header{
    font-family: 'verdana', sans-serif;
}

header{
    background-color:lightgray;
    padding: 65px;
}
