@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
header h1{
    color: #fff;
}


header {
    text-align: left;
}
hr{
    border: none;
    height: 4px;
    background-color: #f8f8f8;
    margin-top: 0px;
}
header{
    font-family: 'verdana', sans-serif;
}

header{
    background-color:rgb(206, 203, 203);
    padding: 65px; 
}
nav{
    display: flex;
}
nav a{
    text-align: left;
    text-decoration: none;
    color: #fff;
    padding: 2px;
    font-family: 'arial', sans-serif;
}
h3{
    color: #fff;
    text-align: right;
    margin-top: -45px;

}
.login {
    margin-left: auto;
}

nav div{
    margin-left: auto;
}